@tailwind base;
@tailwind components;
@tailwind utilities;

@include font-face( VisbyCFMedium, '/fonts/VisbyCF-Medium.otf', normal, otf);

/* @layer base {
  @font-face {
    font-family: display;
    font-weight: 500;
    src: url(/fonts/VisbyCF-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: VisbyCF-Bold;
    src: url(/fonts/VisbyCF-Bold.otf) format("opentype");
  }
} */